 ### For Handling Nominal data

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('cars.csv')

In [4]:
df.sample(5)

         brand  km_driven    fuel         owner  selling_price
2639    Toyota      79328  Diesel  Second Owner         750000
2434  Mahindra     115717  Diesel   First Owner         500000
7621      Tata      35000  Petrol   First Owner         700000
6866  Mahindra     110000  Diesel   First Owner         750000
7400      Ford      15000  Petrol   First Owner         620000

In [5]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

## OHE using Pandas

In [7]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

## OHE using SkLearn

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2)

In [11]:
X_train.sample(5)

        brand  km_driven    fuel        owner
7445  Hyundai      34000  Petrol  First Owner
7850  Renault      22000  Petrol  First Owner
6792   Maruti      40000  Petrol  Third Owner
7522   Toyota      50000  Diesel  First Owner
1982    Force      20000  Diesel  First Owner

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [25]:
ohe = OneHotEncoder(drop='first')

In [30]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']]).toarray()
X_test_new = ohe.transform(X_test[['fuel','owner']]).toarray()

In [31]:
X_train_new.shape

(6502, 7)

In [32]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new)).shape

(6502, 9)

## Use ColumnTransformer

In [33]:
from sklearn.compose import ColumnTransformer

In [34]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cnt1', OneHotEncoder(drop='first'), ['fuel','owner'])
    ],
    remainder='passthrough'
)

In [35]:
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.fit_transform(X_test)

In [36]:
X_train_processed.shape

(6502, 9)