In [1]:
import pandas as pd

In [2]:
data={
    'X':[1,2,3,4,5,7,10],
    'Y':[2,3,5,4,6,6,8]
}

In [3]:
data

{'X': [1, 2, 3, 4, 5, 7, 10], 'Y': [2, 3, 5, 4, 6, 6, 8]}

In [4]:
df=pd.DataFrame(data)

In [5]:
df

    X  Y
0   1  2
1   2  3
2   3  5
3   4  4
4   5  6
5   7  6
6  10  8

In [8]:
pearson_corr=df['X'].corr(df['Y'])
pearson_corr

np.float64(0.9391480052471199)

In [10]:
df.corr() #highly positive coorelation

          X         Y
X  1.000000  0.939148
Y  0.939148  1.000000